:ng-deep .custom-tabs {
  .mat-mdc-tab-labels {
    border-bottom: 1px solid var(--color-gray-100);
  }

  .mat-mdc-tab {
    color: var(--color-gray-400);
    font-size: var(--space-1);
    padding: var(--space-0) var(--space-1);
    min-width: var(--space-64);
  }

  .mat-mdc-tab.mdc-tab--active {
    color: var(--color-gray-800);
  }

  .mat-mdc-tab-header {
    border-bottom: none;
  }

  .mdc-tab-indicator__content--underline {
    border-color: var(--color-blue-500);
    border-top-width: 2px;
  }
}

::ng-deep .mat-mdc-table {
  background: var(--color-white);
}

::ng-deep .mat-mdc-header-row {
  height: 0 !important;
  display: none;
}

::ng-deep .mat-mdc-row {
  height: auto !important;
}

::ng-deep .mat-mdc-cell {
  border: none !important;
}
