<aside
  [ngClass]="isCollapsed ? 'w-18' : 'w-64'"
  class="flex flex-col bg-white text-gray-800 transition-all group duration-300 ease flex-shrink-0 relative rounded-lg p-4 h-screen"
>
  <div
    class="w-full transition-height duration-300 ease flex justify-center items-center"
    [ngClass]="isCollapsed ? 'h-12' : 'h-4'"
  >
    <button
      mat-icon-button
      (click)="toggleSidebar()"
      [ngClass]="isCollapsed ? 'mx-auto invisible group-hover:visible' : ''"
      class="text-white cursor-pointer absolute top-8 -right-4 rounded-full bg-green-600 flex justify-center items-center border-2 border-gray-200"
    >
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>

    @if (isCollapsed) {
    <img ngSrc="icons/logo.png" width="30" height="30" class="m-0" alt="logo" />
    }
  </div>

  <!-- Navigation Items -->
  <nav class="flex-1 overflow-y-auto mt-4">
    @for (item of navItems; track $index) {
    <a
      href="#"
      [matTooltip]="item.label"
      [matTooltipDisabled]="!isCollapsed"
      matTooltipPosition="right"
      class="flex items-center px-2 py-3 text-gray-400 no-underline rounded-lg transition-colors duration-900 ease cursor-pointer hover:bg-green-100 hover:text-gray-900"
    >
      <mat-icon class="flex-shrink-0">{{ item.icon }}</mat-icon>

      @if (!isCollapsed) {
      <span class="ml-3 text-sm font-normal">{{ item.label }}</span>
      }
    </a>
    }
  </nav>

  <div>
    @for (item of navFooterItems; track $index) {
    <a
      href="#"
      [matTooltip]="'lorem'"
      [matTooltipDisabled]="!isCollapsed"
      matTooltipPosition="right"
      class="flex items-center px-2 py-3 text-gray-400 no-underline rounded-lg transition-colors duration-900 ease cursor-pointer hover:bg-gray-100 hover:text-gray-900"
    >
      <mat-icon class="flex-shrink-0">{{ item.icon }}</mat-icon>

      @if (!isCollapsed) {
      <span class="ml-3 text-sm font-medium">{{ item.label }}</span>
      }
    </a>
    }
  </div>

  <button class="px-2 py-3 flex justify-between items-center">
    <div class="flex items-center">
      <div class="rounded-full flex items-center flex-shrink-0">
        <mat-icon class="text-2xl">account_circle</mat-icon>
      </div>

      @if (!isCollapsed) {
      <div class="ml-3">
        <p class="text-md font-semibold m-0">Lorem</p>
        <p class="text-sm text-gray-300 m-0 mt-1">Lorem</p>
      </div>
      }
    </div>

    <mat-icon>logout</mat-icon>
  </button>
</aside>
