<div class="w-full rounded-lg bg-white flex flex-col flex-shrink-0 overflow-hidden p-6">
  <div class="py-2">
    <h2 class="text-xl font-bold text-green-600 m-0">Lorem Lorem Lorem</h2>
  </div>

  <div class="p-4 space-y-4">
    <app-diagram (nodeclick)="logClick($event)"></app-diagram>

    <div class="grid grid-cols-2 gap-2 mt-4">
      <div class="col-span-2">
        <h3 class="text-lg font-semibold text-green-600">Lorem ipsum dolor sit</h3>
      </div>
      <div class="col-span-2 md:col-span-1">
        <app-risk-analysis-tables>
          <app-asset-risk-table></app-asset-risk-table>
          <app-contextual-risk-table></app-contextual-risk-table>
        </app-risk-analysis-tables>
      </div>
      <div class="col-span-2 md:col-span-1">
        <app-contextual-risk-chart></app-contextual-risk-chart>
      </div>
    </div>
  </div>
</div>
