<div class="grid grid-cols-12 gap-2 rounded-2xl p-4 bg-white shadow-md">
  <div class="col-span-12 p-1 flex items-center gap-4">
    <img ngSrc="icons/server-with-notification.png" width="60" height="60" alt="" />
    <span class="flex flex-col items-start">
      <p class="text-gray-600 text-sm font-bold">LoremIpsu</p>
      <p class="text-xs">192.162.1.1</p>
    </span>
  </div>
  <div class="col-span-12 grid grid-cols-12 gap-2">
    <div class="col-span-2 p-1 font-bold text-gray-600 text-sm">Lorem:</div>
    <div class="col-span-10 bg-yellow-50 text-yellow-500 p-1 font-semibold">Lorem "ipsum"</div>
  </div>
  <div class="col-span-12 grid grid-cols-12 gap-2">
    <span class="font-bold text-sm col-span-3">Loremipsum</span>
    <span class="bg-blue-50 text-blue-500 p-2 col-span-9 text-xs text-bold">Lorem 1234,5678</span>
  </div>
</div>
